@import '../../../theme/dp-tokens';

ion-content{
    --background: #FFFFFF;
}
.main_content_div{
    width: 100%;
    ion-label {
        display: block;
    }

    app-page-header {
        .head_lbl {
            color: #FFFFFF;
            font-family: $dp-font-bold;
            font-size: 18px;
            margin-top: 15px;
            text-align: center;
            padding-bottom: 20px;
            position: relative;
        }
    }

    ol li {
        color: #FFFFFF;
    }
}