<ion-content>
  <div class="main_content_div">

    <app-page-header [showBack]="false">
      <ion-label class="head_lbl">Perfil</ion-label>

      <ion-label class="small_lbl">Nome</ion-label>
      <ion-input type="text" placeholder="Nome" [value]="user.name" [disabled]="isDisabled" #name></ion-input>

      <ion-label class="small_lbl">E-mail</ion-label>
      <ion-input type="text" placeholder="E-mail" [value]="user.email" [disabled]="true" #email></ion-input>

      <ion-label class="small_lbl">Telefone</ion-label>
      <ion-input type="text" placeholder="Telefone" [value]="user.phone" [disabled]="isDisabled" #phone></ion-input>

      <ion-button class="dp-pill-btn" (click)="onUpdate(name, phone)" expand="block">
        {{btnText}}
      </ion-button>

      <p>&nbsp;</p>
    </app-page-header>
  </div>
</ion-content>