@import '../../../theme/dp-tokens';

ion-content{
    --background: #FFFFFF;
}
.main_content_div{
    width: 100%;

    ion-label {
        display: block;
    }

    app-page-header {
        .head_lbl {
            color: #FFFFFF;
            font-family: $dp-font-bold;
            font-size: 18px;
            margin-top: 15px;
            text-align: center;
            padding-bottom: 20px;
            position: relative;
        }
    }

    .simple_lbl{
        font-family: 'Poppins-Regular';
    }
    ion-input{
        color: #FFFFFF;
        border: 1px solid #FFFFFF;
        border-radius: 5px;
        margin-bottom: 10px;
        --padding-start: 8px;
    }

    ion-button{
        margin-top: 20px;
        --border-radius: #{$dp-radius-pill};
        --background: #FFFFFF;
        color: #2F89C5
    }

    .small_lbl {   
        color: #FFFFFF
    }
}