<ion-content>
  <div class="main_content_div">

    <div class="back_image" >
      <img src="assets/imgs/dupolvo-logo.png">
    </div>

    <div class="blue_div">
      <ion-label class="head_lbl">Perfil</ion-label>
      
      <ion-label class="small_lbl">Nome</ion-label>
      <ion-input type="text" placeholder="Nome" [value]="user.name" [disabled]="isDisabled" #name></ion-input>

      <ion-label class="small_lbl">E-mail</ion-label>
      <ion-input type="text" placeholder="E-mail" [value]="user.email" [disabled]="true" #email></ion-input>

      <ion-label class="small_lbl">Telefone</ion-label>
      <ion-input type="text" placeholder="Telefone" [value]="user.phone" [disabled]="isDisabled" #phone></ion-input>

      <ion-button (click)="onUpdate(name, phone)" expand="block">
        {{btnText}}
      </ion-button>

      <div class="section_divider">
        <span>Bolão</span>
      </div>

      <ion-button expand="block" class="bolao_btn" (click)="goToBolao()">
        <ion-icon slot="start" name="people-outline"></ion-icon>
        Entrar no Bolão
      </ion-button>

      <p>&nbsp;</p>

    </div>
  </div>
</ion-content>