<ion-content>
  <div class="main_content_div">

    <app-page-header [showBack]="false">
      <ion-label class="head_lbl">Sobre</ion-label>

      <p>
        O app está sendo desenvolvido para jogarmos o total de possibilidades de cada loteria, para
        ganharmos todos os prêmios, evitando que o jogo acumule.
      </p>

      <p>Através dessa ideia podemos chegar há excelência.</p>

      <p>
        Vale lembrar que não temos vínculo com as loterias da Caixa. Apenas propusemos a indicar um
        novo método para dar sequência aos jogos. Boa sorte há todos.
      </p>

      <p>
        Du polvo.
      </p>
      <p>&nbsp;</p>
    </app-page-header>
  </div>
</ion-content>