<ion-content>
  <div class="main_content_div">

    <div class="back_image">
      <img src="assets/imgs/dupolvo-logo.png">
      <div class="blue_back_div" (click)="goBack()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </div>
    </div>

    <div class="blue_div">
      <ion-label class="head_lbl">{{ gameConfig.name }}</ion-label>
      <ion-label class="sub_lbl">
        Escolha {{ gameConfig.minPick }}<ng-container *ngIf="gameConfig.minPick !== gameConfig.maxPick"> a {{ gameConfig.maxPick }}</ng-container>
        números ({{ counter }}/{{ gameConfig.maxPick }})
      </ion-label>

      <ul>
        <li class="ball"
            *ngFor="let index of numberRange"
            (click)="highlightItem($event, index)">
          {{ index }}
        </li>
      </ul>

      <div class="btn_div">
        <ion-button (click)="onSave()" expand="block">
          Salvar
        </ion-button>
      </div>
      <p>&nbsp;</p>
    </div>

  </div>
</ion-content>
